/* Material Palette - light-blue/pink */

.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #B3E5FC; }
.accent-color          { background: #FF4081; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

/* Material Palette - light-blue/pink */

.dm-nav {

}

#frontPage {
    min-height: 100vw;
}

#profilePic {
    width: 300px;
    height: 300px;
    border-radius: 500px;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}


.grid {
    /*width: 100px;*/
    height: 25vw;
}

footer {

}