body {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;

    -webkit-transition: width 0.5s ease, margin 0.5s ease;
    -moz-transition: width 0.5s ease, margin 0.5s ease;
    -o-transition: width 0.5s ease, margin 0.5s ease;
    transition: width 0.5s ease, margin 0.5s ease;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}


/* Material Palette - light-blue/pink */

.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #B3E5FC; }
.accent-color          { background: #FF4081; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

/* Material Palette - light-blue/pink */

.dm-nav {

}

#frontPage {
    min-height: 50vw;
}

#profilePic {
    /*width: 300px;*/
    /*height: 300px;*/
    border-radius: 50%;
    border: 5px solid #FF4081;
}

.skillsSections {
    /*border-radius: 50%;*/
    /*border: 5px solid #FF4081;*/
    /*background-image: url(../img/IMG_2166.jpg);*/
    /*background-size: cover;*/
    /*width: 100%*/
    /*min-width: 200px;*/
    /*height: 100%;*/
    /*min-height: 200px; */
}


.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}


.grid {
    /*width: 100px;*/
    height: 25vw;
}

footer {

}

